@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome - LINQ 超入門</h1>
    <p>感謝您參與 MIS2000 Lab.的 <a href="https://mis2000lab.pixnet.net/blog/post/36029623">完整版 ASP.NET MVC線上課程（包含 .NET Core MVC）</a>.</p>
</div>
